<%- include('./shared/header') %>
    <h1>Liste des contacts </h1>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
            </tr>
        </thead>
        <tbody>
            <% contacts.forEach(contact => { %> <tr> <td> <%= contact.nom %> </td>
            <td><%= contact.prenom %> </td>
            <td><%= contact.email %> </td>
            <td><%= contact.tel %> </td></tr> <% }) %>
        </tbody>
    </table>
    <a href="/add-contact">Ajouter un contact</a>
<%- include('./shared/footer') %>
